# Configuration for usrbin scripts.

[dcp]
    # List of directories to search for compose files.
    compose_dir_paths = ["~/homelab/docker_compose"]

[nd]
    # String to ignore when searching for job files.
    file_ignore_strings = ["template"]

    # List of directories to search for job files.
    job_file_locations = ["~/homelab/nomad", "~/homelab/nomad-csi"]

    # Address of the Nomad server
{{- if "/etc/nomad.d" | lstat }}
    nomad_address = "http://127.0.0.1:4646"
{{- else if .use_secrets }}
    nomad_address = "http://{{ onepasswordRead "op://yc7nim47s6rch4ehrvfsz5icei/kqwlkq6yaoarvhwacd7vpll3ei/hostname" }}:4646"
{{- else }}
    nomad_address = ""
{{- end }}

[brewup]
    # Target location for Applications, mimics --appdird.
    # app_dir          = ""

    exclude_updades = [
        "1password",
        "arq",
        "discord",
        "docker",
        "docker-compose",
        "fmail2",
        "fork",
        "mongodb-compass",
        "raycast",
        "syncthing",
        "visual-studio-code",
        "zoom",
    ]

    # List of packages to exclude from updates
    # Update all casks, even if they auto-update
    greedy_casks = false

    # Full path to `brew` if not in $PATH
    # homebrew_command = ""

    # List of casks to open after updating
    reopen_casks = ["iterm2", "raycast", "slack", "syncthing"]

    # List of casks to unquarantine after updating
    no_quarantine = ["librewolf"]

[autopull]

repo_dirs = [
    {{- if joinPath .zsh_dir "plugins" | lstat }}
    "{{ .zsh_dir }}/plugins",
    {{- end }}
    {{- if joinPath .chezmoi.homeDir "repos" | lstat }}
    "~/repos",
    {{- end }}
    ]
