if command -v code &>/dev/null; then # Use visual studio code when available
  q() {
    # easy access to VisualCode
    if [ $# -eq 0 ]; then
      code -r .
    else
      code -r "$@"
    fi
  }
fi

if command -v micro &>/dev/null; then
  EDITOR=$(type micro nano pico | sed 's/ .*$//;q')
else
  EDITOR=$(type nano pico | sed 's/ .*$//;q')
fi

export EDITOR
LESSEDIT="$EDITOR %f" && export LESSEDIT
VISUAL="$EDITOR" && export VISUAL
m() { $EDITOR "$@"; }