{{- if and (eq .chezmoi.os "darwin") (.personal_computer) }}
//---------------|
//   LibreWolf   |
//---------------|
//   Glossary:   |
//=====================================================================================================|
//                                                                                                     |
// "Section"        : Description of the settings section separated by "----"                          |
// "Pref"           : Preference/Settings name and or description followed by links or documentations  |
//                    and some time explanation why the setting is commented and ignored.              |
// "lockPref"       : Locked preference can not be changed on firefox, nor by extensions, can only be  |
//                    changed here lockPref is used to lock preferences so they cannot be changed      |
//                    through the GUI or about:config.                                                 |
//                    In many cases the GUI will change to reflect this, graying out or removing       |
//                    options. Appears in about:config as "locked". Some config items require          |
//                    lockPref to be set, such                                                         |
//                    as app.update.enabled.                                                           |
//                    It will not work if it set with just pref.                                       |
// "pref"           : Sets the preference as if a user had set it, every time you start the browser.   |
//                    So users can make changes, but they will be erased on restart. If you set a      |
//                    particular preference this way,it shows up in about:config as                    |
//                    "user set".                                                                      |
// "defaultPref"    : Defaulting : Is used to alter the default value, though users can set it         |
//                    normally and their changes will be saved between sessions. If preferences        |
//                    are reset to default through the GUI or some other method, this is what          |
//                    they will go back to. Appears in about:config as "default".                      |
// "clearPref"      : Can be used to "blank" certain preferences. This can be useful                   |
//                    e.g. to disable functions that rely on comparing version numbers.                |
//                                                                                                     |
//=====================================================================================================|

// -----------------------
// # Enable DRM (netflix, spotify, etc.)
// -----------------------

defaultPref("media.eme.enabled", true);
defaultPref("media.gmp-widevinecdm.visible", true);
defaultPref("media.gmp-widevinecdm.enabled", true);
defaultPref("media.gmp-provider.enabled", true);
defaultPref("media.gmp-manager.url", "https://aus5.mozilla.org/update/3/GMP/%VERSION%/%BUILD_ID%/%BUILD_TARGET%/%LOCALE%/%CHANNEL%/%OS_VERSION%/%DISTRIBUTION%/%DISTRIBUTION_VERSION%/update.xml");



// # Increased hardening
defaultPref("javascript.options.asmjs", false); // disable asm.js
defaultPref("javascript.options.wasm", false); // disable web assembly
//defaultPref("privacy.resistFingerprinting.letterboxing", true); // enable letterboxing
defaultPref("dom.event.clipboardevents.enabled", false); // disable user triggered clipboard access
defaultPref("browser.download.useDownloadDir", false); // enforce user input on any download

{{- end }}
