{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from 1Password? (true/false)" -}}
{{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a personal computer for daily driving? (true/false)" -}}
{{- $homelab_member := promptBoolOnce . "homelab_member" "Is this computer in the homelab? (true/false)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Do you do development on this computer? (true/false)" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    dev_computer      = {{ $dev_computer }}
    email             = {{ $email | quote }}
    github_user       = "natelandau"
    homelab_member    = {{ $homelab_member }}
    personal_computer = {{ $personal_computer }}
    use_secrets       = {{ $use_secrets }}
    zsh_dir           = "{{ .chezmoi.homeDir }}/.local/share/zsh"

[diff]
    {{ if lookPath "delta" -}}command = "delta"
    {{ end -}}
    exclude = ["scripts"]

{{ if lookPath "code" -}}
[edit]
    args    = ["-r", "--wait"]
    command = "code"

[merge]
    args    = ["--merge", "{{ "{{" }} .Destination }}", "{{ "{{" }} .Source }}", "{{ "{{" }} .Target }}"]
    command = "code"
{{ end -}}
