#!/usr/bin/env bash

# If not running interactively, don't do anything
case $- in
    *i*) ;;
    *) return ;;
esac
[ -z "$PS1" ] && return

# set default umask
umask 002

### SOURCE BASH PLUGINS ###

# Locations containing files *.bash to be sourced to your environment
configFileLocations=(
    "${HOME}/.shell/sourced"
)

for configFileLocation in "${configFileLocations[@]}"; do
    if [ -d "${configFileLocation}" ]; then
        while read -r configFile; do
            # shellcheck disable=SC1090
            source "${configFile}"
        done < <(find "${configFileLocation}" \
            -maxdepth 2 \
            -type f \
            -name '*.bash' \
            -o -name '*.sh' \
            | sort)
    fi
done

if [ -f "${HOME}/.dotfiles.local" ]; then
    # shellcheck disable=SC1091
    source "${HOME}/.dotfiles.local"
fi

alias sourcea='source ${HOME}/.bashrc' # Source this file to apply changes
