#!/usr/bin/env zsh

# This zshrc file uses zinit as a zsh plugin manager.
# More information: https://github.com/zdharma-continuum/zinit

# If not running interactively, don't do anything
#############################################
case $- in
    *i*) ;;
    *) return ;;
esac
[ -z "$PS1" ] && return

# duplicates slow down searching
#############################################
builtin declare -aU fpath
builtin declare -aU path
builtin declare -aU manpath
# FPATH should not be exported
builtin declare +x FPATH
# duplicates slow down searching and
# mess up OMZ fpath check if should remove zcompdump
fpath=(${(u)fpath})
path=(${(u)path})
manpath=(${(u)manpath})

# If zsh is emulating another shell, don't source .zshrc
#############################################
if [[ $0 == 'ksh' ]] || [[ $0 == 'sh' ]]; then
    source "${HOME}/.shrc"
    exit
elif [[ $0 == 'bash' ]]; then
    source "${HOME}/.bashrc"
    exit
fi


unset _myPaths _path

# Source completions
if [ -d "{{ .zsh_dir }}/completions" ]; then
  fpath=({{ .zsh_dir }}/completions $fpath)
fi

if [ -d "{{ .zsh_dir }}/zsh-completions/src" ]; then
  fpath=({{ .zsh_dir }}/zsh-completions/src $fpath)
fi


# Load Completions
#############################################
autoload -Uz compinit
compinit

# SOURCE Dotfiles
#############################################

# Locations containing files *.bash to be sourced to your environment
configFileLocations=(
    "${HOME}/.shell/sourced"
)

for configFileLocation in "${configFileLocations[@]}"; do
    if [ -d "${configFileLocation}" ]; then
        while read -r configFile; do
            source "${configFile}"
        done < <(find "${configFileLocation}" \
            -maxdepth 2 \
            -type f \
            -name '*.zsh' \
            -o -name '*.sh' | sort)
    fi
done

unset configFileLocations configFileLocation


if [ -f "${HOME}/.dotfiles.local" ]; then
    source "${HOME}/.dotfiles.local"
fi

alias sourcea='source ${HOME}/.zshrc' # Source this file to apply changes
