{{- if and .personal_computer (lookPath "jdfile") -}}
clean_filenames    = true
date_format        = "%Y-%m-%d"
format_dates       = true
ignore_dotfiles    = true
ignore_file_regex  = ''
ignored_files      = []
overwrite_existing = false
separator          = "space"
split_words        = true
stopwords          = []
strip_stopwords    = true
transform_case     = "title"
use_synonyms       = true
match_case_list    = [
    "BWS",
    "CEO",
    "CPO",
    "CPTO",
    "CTO",
    "CapEx",
    "DD",
    "DEI",
    "DEIJ",
    "EULA",
    "HQ",
    "MM",
    "NDA",
    "NPR",
    "NY",
    "NYC",
    "OKR",
    "OKRs",
    "PDDE",
    "PRFAQ",
    "PRFAQs",
    "README",
    "SVP",
    "VP",
    "YY",
    "YYYY",
    "theSkimm",
]

[projects]
    [projects.personal]
        path              = "~/personal-docs"
        project_depth     = 0
        project_type      = "jd"

    [projects.work]
        path          = "~/work-docs/theskimm"
        project_depth = 1
        project_type  = "jd"
{{ end -}}
