# Ignore the backup directory if one is created
dotfiles_backup/

# Other ignores
*.sublime-workspace

# Ignore synology junk
*@eaDir*

# Don't sync the slap log. it is different for each computer.
slap.log

# Don't Commit Symlinks
