# enables the minibar feature
set minibar

# disables the shortcut hints
set nohelp

# disable inverse text for the minibar
set titlecolor normal,normal

# Include syntax highlighters (add more from ~/.nano/)
include "~/.nano/conf.nanorc"
include "~/.nano/csv.nanorc"
include "~/.nano/dotenv.nanorc"
include "~/.nano/etc-hosts.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/hcl.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/sed.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/zsh.nanorc"
