{{- if and (eq .chezmoi.os "darwin") (joinPath .chezmoi.homeDir ".orbstack/ssh/config" | lstat) -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{- end }}

# Create a new key with:
# ssh-keygen -f [filename] -t ed25519 -C "[comment]"
# ssh-keygen -f [filename] -t rsa -b 4096 -C "[comment]"

# ##### Chezmoi Managed #############
# Host aliases render from a single 1Password note (see
# .chezmoidata/onepassword.toml -> documents.ssh_servers): a TOML document keyed
# by alias name. Only `hostname` is required; `user` defaults to natelandau and
# `port` to 22. Add `tailscale_ip` to also emit a t<alias> host on the tailnet.
{{- if .use_secrets }}
{{- $servers := onepasswordRead .documents.ssh_servers | fromToml }}
{{- range $name, $s := $servers }}

Host {{ $name }}
    User {{ get $s "user" | default "natelandau" }}
    Hostname {{ $s.hostname }}
    Port {{ get $s "port" | default 22 }}
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
{{-   $ts := get $s "tailscale_ip" }}
{{-   if $ts }}

Host t{{ $name }}
    User {{ get $s "user" | default "natelandau" }}
    Hostname {{ $ts }}
    Port {{ get $s "port" | default 22 }}
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
{{-   end }}
{{- end }}
{{- end }}

# ##### End Chezmoi Managed #############

Host *
	IdentityFile ~/.ssh/id_ed25519
	ServerAliveInterval 30
	ServerAliveCountMax 120
	StrictHostKeyChecking accept-new
	Protocol 2
	IdentitiesOnly yes
