{{- if and .personal_computer (lookPath "neatfile") -}}
date_format = "%Y-%m-%d"
ignore_dotfiles = true
ignore_file_regex = ''
ignored_files = []
match_case_list = [
    "B2B",
    "B2C",
    "BWS",
    "BvA",
    "CDO",
    "CEO",
    "CMO",
    "CMS",
    "COGS",
    "CPA",
    "CPC",
    "CPO",
    "CPTO",
    "CRM",
    "CTA",
    "CTO",
    "CTR",
    "CapEx",
    "DD",
    "DEI",
    "DEIJ",
    "EDH",
    "EHG",
    "EHGC",
    "EOW",
    "ESP",
    "EULA",
    "EverydayHealth",
    "FTE",
    "HQ",
    "IPO",
    "KPI",
    "KPIs",
    "LE",
    "LOI",
    "MM",
    "MSA",
    "MTD",
    "MoM",
    "NDA",
    "NPR",
    "NY",
    "NYC",
    "OKR",
    "OKRs",
    "P&L",
    "P/E",
    "PDDE",
    "PDE",
    "POC",
    "PPC",
    "PRFAQ",
    "PRFAQs",
    "PTE",
    "QA",
    "QTD",
    "R&D",
    "README",
    "RFP",
    "ROI",
    "SEO",
    "SOW",
    "SVP",
    "SWOT",
    "SaaS",
    "TLDR",
    "URL",
    "VP",
    "VPN",
    "YTD",
    "YY",
    "YYYY",
    "ZD",
    "ZiffDavis",
    "theSkimm",
]
overwrite_existing = false
separator = "space"
split_words = true
stopwords = []
strip_stopwords = true
transform_case = "title"

[projects]
    [projects.personal]
        path = "{{ .chezmoi.homeDir }}/personal-docs"
        type = "jd"

    [projects.work]
        path      = "{{ .chezmoi.homeDir }}/work-docs/theSkimm"
        stopwords = ["pptx"]
        type      = "folder"

{{ end -}}
