{{- if or (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") (gt .chezmoi.osRelease.versionID "11" )) (eq .chezmoi.os "darwin") -}}

# enables the minibar feature
set minibar

# disables the shortcut hints
set nohelp

# disable inverse text for the minibar
set titlecolor normal,normal

# Include syntax highlighters (add more from {{ .xdgDataDir }}/nano)
include {{ .xdgDataDir }}/nano/*.nanorc

{{- end }}
