{{- if lookPath "vidcleaner" -}}

# Languages to keep (list of ISO 639-1 codes)
langs_to_keep = ["en"]

# Keep subtitles matching the local language(s) even when the audio is not in the local language(s)
keep_local_subtitles = false

# Keep commentary audio
keep_commentary = false

# Force dropping local subtitles even if audio is not default language
drop_local_subs = false

# Keep all subtitles
keep_all_subtitles = false

# Drop original language audio if not specified in langs_to_keep
drop_original_audio = false

# Always create a stereo track
downmix_stereo = false

# Save the video after each step (default is to save after all steps are completed)
save_each_step = false

{{- if .use_secrets }}

# External services used to determine the original language of a movie or TV show
radarr_api_key = "{{- onepasswordRead .secrets.radarr_api_key }}"
radarr_url     = "{{- onepasswordRead .secrets.radarr_url }}"
sonarr_api_key = "{{- onepasswordRead .secrets.sonarr_api_key }}"
sonarr_url     = "{{- onepasswordRead .secrets.sonarr_url }}"
tmdb_api_key   = "{{- onepasswordRead .secrets.tmdb_api_key }}"

{{- end }}
{{- end }}
