{{- if (lookPath "brewup") -}}
# Target location for Applications, mimics --appdir.
# app_dir = ""

# List of packages to exclude from updates (typically b/c they autoupdate)
exclude_updades = [
    "1password",
    "arq",
    "claude",
    "cursor",
    "dia",
    "discord",
    "docker",
    "fmail2",
    "fork",
    "raycast",
    "syncthing",
    "visual-studio-code",
    "zoom",
]

# Full path to `brew` if not in $PATH
# homebrew_command = ""

# List of casks to open after updating
reopen = ["raycast", "syncthing"]

# List of casks to unquarantine after updating
unquarantine = ["librewolf"]

{{- end }}
