{{- if and (not (lookPath "zoxide")) (ne .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# This script installs the zoxide binary for better cd command
# https://github.com/ajeetdsouza/zoxide

if [ ! "$(command -v zoxide)" ]; then
    if [ ! "$(command -v curl)" ]; then
        error 'curl is required but was not found. Install curl first and then run this script again.' >&2
        _safeExit_ 1
    fi

    # Install zoxide
    curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
fi

_safeExit_
{{- end }}
