{{- if .use_secrets -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# header "Setting up SSH keys"

if [ ! -d "${HOME}/.ssh_keys" ]; then
    mkdir -p "${HOME}/.ssh_keys"
    echo "[notice] Created directory: ${HOME}/.ssh_keys"
fi

{{ range .remote_servers -}}
updated=false
if [ ! -f "${HOME}/.ssh_keys/{{ .name }}" ]; then
    echo "{{ range (onepassword .op_id).fields }}{{ if eq .label "privkey" }}{{ .value }}{{ end }}{{ end }}" >"${HOME}/.ssh_keys/{{ .name }}"
    chmod 600 "${HOME}/.ssh_keys/{{ .name }}"
    updated=true
fi
if [ ! -f "${HOME}/.ssh_keys/{{ .name }}.pub" ]; then
    echo "{{ range (onepassword .op_id).fields }}{{ if eq .label "pubkey" }}{{ .value }}{{ end }}{{ end }}" >"${HOME}/.ssh_keys/{{ .name }}.pub"
    chmod 644 "${HOME}/.ssh_keys/{{ .name }}.pub"
    updated=true
fi

if [ "${updated}" = true ]; then
    notice "Created SSH key pair for: {{ .name }}"
fi

_safeExit_
{{ end -}}
{{ end -}}
