{{- if and (not (lookPath "atuin")) (ne .chezmoi.arch "arm64") (ne .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# This script installs the Atuin binary for better history browsing
# https://docs.atuin.sh/

if [ ! "$(command -v atuin)" ]; then
    if [ ! "$(command -v curl)" ]; then
        error 'curl is required but was not found. Install curl first and then run this script again.' >&2
        _safeExit_ 1
    fi

    # Install Atuin
    curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh | bash
fi

_safeExit_
{{- end }}
