{{- if not (lookPath "uv") -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# This script installs the uv binary for better cd command

{{- if eq .chezmoi.os "darwin" -}}
if [ ! "$(command -v brew)" ]; then
    error 'uv: brew is required but was not found. Install brew first and then run this script again.' >&2
    _safeExit_ 1
fi
install_command="brew install uv"
{{- else -}}
if [ ! "$(command -v curl)" ]; then
    error 'uv: curl is required but was not found. Install curl first and then run this script again.' >&2
    _safeExit_ 1
fi
install_command="curl -LsSf https://astral.sh/uv/install.sh | sh"
{{- end }}


# Install uv
if $(eval "${install_command}") ; then
    success "uv installed successfully"
    _safeExit_
else
    error "Failed to install uv"
    _safeExit_ 1
fi

{{- end }}
