{{- if lookPath "nano" -}}
#!/usr/bin/env bash

# This script installs nano syntax highlighting for various languages.

{{ template "shared_script_utils.bash" }}

# check for unzip before we continue
if [ ! "$(command -v unzip)" ]; then
    error 'install_nanorc: unzip is required but was not found. Install unzip first and then run this script again.' >&2
    _safeExit_ 1
fi

# Check if the nano syntax highlighting directory exists
if [ ! -d "${HOME}/.nano" ]; then
    mkdir -p "${HOME}/.nano"

    # Download the nano syntax highlighting files
    wget -O /tmp/nanorc.zip https://github.com/scopatz/nanorc/archive/master.zip

    cd "${HOME}/.nano/" || exit

    unzip -o "/tmp/nanorc.zip"
    mv nanorc-master/* ./
    rm -rf nanorc-master
    rm /tmp/nanorc.zip

    notice 'nano syntax highlighting installed successfully.'
fi

_safeExit_

{{- end }}
