#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

_hasJQ_ # Confirm we have jq installed

VERBOSE=false
PACKAGE_NAME="uv"
REPOSITORY="astral-sh/uv"

header "Verify ${PACKAGE_NAME} installation and check for updates"

# Fetch the API response once and store it in a variable
API_RESPONSE=$(curl -s "https://api.github.com/repos/${REPOSITORY}/releases/latest")

# Extract the required information from the stored API response
LATEST_VERSION=$(echo "${API_RESPONSE}" | jq -r .tag_name | sed 's/v//g')
IS_PRE_RELEASE=$(echo "${API_RESPONSE}" | jq -r .prerelease)
IS_DRAFT=$(echo "${API_RESPONSE}" | jq -r .draft)
RELEASE_NOTES=$(echo "${API_RESPONSE}" | jq -r .html_url)

info "Latest version is ${LATEST_VERSION}"
debug "Is pre-release: ${IS_PRE_RELEASE}"
debug "Is draft: ${IS_DRAFT}"
debug "Release Notes: ${RELEASE_NOTES}"

if [[ $(command -v ${PACKAGE_NAME}) ]]; then
    CURRENT_VERSION=$(${PACKAGE_NAME} --version | awk '{print $2}')

    info "Local version: ${CURRENT_VERSION}"

    if [[ ${CURRENT_VERSION} == "${LATEST_VERSION}" ]]; then
        success "${PACKAGE_NAME} is already up to date"
        _safeExit_ 0
    fi

    if [[ ${IS_PRE_RELEASE} == "true" ]] || [[ ${IS_DRAFT} == "true" ]]; then
        notice "Latest version is a pre-release or draft. Skipping update."
        _safeExit_ 0
    fi
else
    notice "Installing ${PACKAGE_NAME}"
    {{ if eq .chezmoi.os "darwin" }}
    brew install uv
    {{ end }}
    {{ if eq .chezmoi.os "linux" }}
    curl -LsSf https://astral.sh/uv/install.sh | sh
    {{ end }}

    _safeExit_ 0
fi

notice "Update ${PACKAGE_NAME} to ${LATEST_VERSION}"
{{ if eq .chezmoi.os "darwin" }}
brew upgrade uv
{{ end }}

{{ if eq .chezmoi.os "linux" }}
if [[ -e "${HOME}/.cargo/bin/uv" ]]; then
    uv self update
fi
{{ end }}


_safeExit_
