{{- if .use_secrets -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

header "Creating SSH keys"

if [ ! -d "{{ .directories.ssh_keys_dir }}" ]; then
    mkdir -p "{{ .directories.ssh_keys_dir }}"
    echo "[notice] Created directory: {{ .directories.ssh_keys_dir }}"
fi

{{ range .remote_servers -}}
updated=false
if [ ! -f "{{ $.directories.ssh_keys_dir }}/{{ .name }}" ]; then
    echo "{{ range (onepassword .op_id).fields }}{{ if or (eq .label "privkey") (eq .label "private key") }}{{ .value }}{{ end }}{{ end }}" >"{{ $.directories.ssh_keys_dir }}/{{ .name }}"
    chmod 600 "{{ $.directories.ssh_keys_dir }}/{{ .name }}"
    updated=true
fi
if [ ! -f "{{ $.directories.ssh_keys_dir }}/{{ .name }}.pub" ]; then
    echo "{{ range (onepassword .op_id).fields }}{{ if or (eq .label "pubkey") (eq .label "public key") }}{{ .value }}{{ end }}{{ end }}" >"{{ $.directories.ssh_keys_dir }}/{{ .name }}.pub"
    chmod 644 "{{ $.directories.ssh_keys_dir }}/{{ .name }}.pub"
    updated=true
fi

if [ "${updated}" = true ]; then
    notice "Created SSH key pair for: {{ .name }}"
fi

{{ end -}}
_safeExit_
{{ end -}}
