{{- /* Don't run this script in CI, ci username is runner */ -}}
{{- if (and (eq .chezmoi.os "darwin") (ne .chezmoi.username "runner")) -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

# Grab the hash of the osx-defaults.sh script to run it when changed
# osx-defaults.sh hash: {{ include "dot_shell/scripts/executable_osx-defaults.sh.tmpl" | sha256sum }}

osx_script=${HOME}/.shell/scripts/osx-defaults.sh
header "Running OS X defaults script"

sudo "${osx_script}"

_safeExit_
{{- end }}
