#!/usr/bin/env bash

# The following line will force this script to run monthly
# https://www.chezmoi.io/user-guide/frequently-asked-questions/usage/#how-do-i-run-a-script-periodically
# {{ output "date" "+%m" | trim }}

{{ template "shared_script_utils.bash" . }}

# Run these commands on all systems
if [[ $(command -v uv) ]]; then
    header "Upgrading tools installed with uv"
    uv tool upgrade --all
fi

_safeExit_
