{{- if not (lookPath "uv") -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# This script installs the uv binary for better cd command

{{ if eq .chezmoi.os "darwin" }}

if [ ! "$(command -v brew)" ]; then
    error 'uv: brew is required but was not found. Install brew first and then run this script again.' >&2
    _safeExit_ 1
fi

header "Installing uv"
brew install uv

{{ else }}

header "Installing uv"
curl -LsSf https://astral.sh/uv/install.sh | sh

{{ end }}

_safeExit_

{{ end }}
