{{- if and (eq .chezmoi.os "darwin") (not (lookPath "brew")) -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" }}

# Install Homebrew
command -v brew >/dev/null 2>&1 \
    || (info '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

_safeExit_
{{- end }}
