{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

# Grab current setting
if current=$(defaults read com.googlecode.iterm2 PrefsCustomFolder 2>/dev/null); then

    if [[ ${current} != "${HOME}/.config/applications/iterm2" ]]; then

        # Specify the preferences directory
        defaults write com.googlecode.iterm2 PrefsCustomFolder -string "${HOME}/.config/applications/iterm2"

        # Tell iTerm2 to use the custom preferences in the directory
        defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true

        notice "Set shared iTerm2 preferences: ~/.config/applications/iterm2"
        exit 0
    fi
else
    warning "iTerm2 application preferences not found. Open and then quit iTerm2 and rerun 'chezmoi apply'"
fi

_safeExit_
{{- end }}
