# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

export EDITOR="$(command -v code nano | head -n 1)"

{{ if and (.use_secrets) (.dev_computer) -}}

export HOMEBREW_GITHUB_API_TOKEN="{{ range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{ if eq .label "HOMEBREW_GITHUB_API_TOKEN" }}{{ .value }}{{ end }}{{ end }}"

# Valentina env variables for local development on natenate test server
# natenate-test-bot
export VALENTINA_DISCORD_TOKEN="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "dev_discord_token" }}{{- .value }}{{- end }}{{- end }}"
# valentina production
# export VALENTINA_DISCORD_TOKEN={{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "prod_discord_token" }}{{- .value }}{{- end }}{{- end }}
export VALENTINA_GUILDS="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_GUILDS" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_OWNER_IDS="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_OWNER_IDS" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_OWNER_CHANNELS="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_OWNER_CHANNELS" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_AWS_ACCESS_KEY_ID="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_AWS_ACCESS_KEY_ID" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_AWS_SECRET_ACCESS_KEY="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_AWS_SECRET_ACCESS_KEY" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_S3_BUCKET_NAME="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_S3_BUCKET_NAME" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_GITHUB_TOKEN="{{- range (onepassword "oktogknogbneoifxxtnefno2cu").fields }}{{- if eq .label "VALENTINA_GITHUB_TOKEN" }}{{- .value }}{{- end }}{{- end }}"
export VALENTINA_GITHUB_REPO="natelandau/valentina"

{{- end }}
