{{- if eq .chezmoi.os "linux" }}

alias sag='sudo apt-get'

aup() {
    # List available updated from apt-get

    sudo apt update
    apt list --upgradable
}

if [ -e "/usr/bin/snap" ]; then
    PATH="/snap/bin:${PATH}"
fi

alias logs='journalctl -fu'
alias logs-all='journalctl -u'
alias ctl='systemctl'

# Run startup scripts

if [[ -f "${HOME}/.shell/scripts/debian-startup.sh" ]]; then
    "${HOME}"/.shell/scripts/debian-startup.sh
fi

{{- end }}
