{{- if lookPath "pull_all_repos" }}
alias pr="pull_all_repos --directory=\${HOME}/repos"
{{- end }}

# Local navigational Shortcuts
alias dot='cd ${HOME}/repos/dotfiles'
alias dp='cd ${HOME}/repos/dotfiles-private'
alias homelab='cd ${HOME}/homelab'
alias work='cd ${HOME}/work-docs'
alias personal='cd ${HOME}/personal-files'
alias repos='cd ${HOME}/repos'

{{ if .use_secrets -}}
# SSH Shortcuts
{{ range .remote_servers -}}
{{- if lookPath .name }}
{{- else }}
alias {{ .name }}="ssh {{ .name }}"
{{- end }}
{{- end }}
{{- end }}
