# Configures XDG specification environment variables.
# https://specifications.freedesktop.org/basedir-spec/latest/

# A single base directory relative to which user-specific data files should be written
export XDG_DATA_HOME={{ .xdgDataDir }}

# A single base directory relative to which user-specific configuration files should be written
export XDG_CONFIG_HOME={{ .xdgConfigDir }}

# A single base directory relative to which user-specific state data should be written
export XDG_STATE_HOME={{ .xdgStateDir }}

# A single base directory relative to which user-specific non-essential (cached) data should be written
export XDG_CACHE_HOME={{ .xdgCacheDir }}

# Reconfigure applications to use these directories
# ####################################
export ANSIBLE_HOME="${XDG_DATA_HOME}"/ansible
export CARGO_HOME="${XDG_DATA_HOME}"/cargo
export PYTHONSTARTUP="${XDG_CONFIG_HOME}"/python/pythonrc
export PYTHON_HISTORY="${XDG_STATE_HOME}"/python_history
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export ZDOTDIR="$XDG_CONFIG_HOME"/zsh
alias wget=wget --hsts-file='${XDG_DATA_HOME}/wget-hsts'
