# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

export EDITOR="$(command -v cursor code nano | head -n 1)"

if [[ -d "${HOME}/repos/sessionmemory-vault" ]]; then
    export SESSIONMEMORY_VAULT="${HOME}/repos/sessionmemory-vault"
    export NATELANDAU_TOOLKIT_EXEMPT_PATHS="${HOME}/repos/sessionmemory-vault"
fi


{{ if eq .chezmoi.os "linux"}}
export APTUP_EXCLUDE_PACKAGES=containerd.io,docker-buildx-plugin,docker-ce-cli,docker-ce-rootless-extras,docker-ce,docker-compose-plugin
{{ end }}

{{ if and (.use_secrets) (.dev_computer) -}}

# Configure gitleaks to use a custom config file
if [[ -f ${HOME}/.local/share/git_stopwords/gitleaks.toml ]]; then
    export GITLEAKS_CONFIG=${HOME}/.local/share/git_stopwords/gitleaks.toml
fi

# Use secrets-sync password file for ansible-vault
if [[ -f {{ .xdgConfigDir }}/secrets-sync/.password_file ]]; then
    export ANSIBLE_VAULT_PASSWORD_FILE={{ .xdgConfigDir }}/secrets-sync/.password_file
fi

{{- end }}
