{{- if .personal_computer -}}
alias vnc="open vnc://10.0.0.4"
{{ end }}
{{- if and (.homelab_member) (not (.personal_computer)) -}}

{{- if "/mnt/pi-cluster" | lstat }}
alias cluster="cd /mnt/pi-cluster/"
alias localfs="cd /mnt/usbDrive/"
alias backups="cd /mnt/pi-cluster/service-data-backups"
alias media="cd /mnt/media"
{{- if lookPath "lnav" }}
alias blogs='lnav /mnt/pi-cluster/logs'
{{- end }}
{{- else if "/System/Volumes/Data/mnt/pi-cluster" | lstat }}
alias cluster="cd /System/Volumes/Data/mnt/pi-cluster"
alias localfs='cd ${HOME}/Library/docker'
alias backups="cd /System/Volumes/Data/mnt/pi-cluster/service-data-backups"
alias media="cd /System/Volumes/Data/mnt/media"
{{- if lookPath "lnav" }}
alias blogs='lnav /System/Volumes/Data/mnt/pi-cluster/logs'
{{- end }}
{{- end }}
{{- end }}
