{{- if .personal_computer -}}

{{- if .use_secrets }}
{{-   $mini := get (onepasswordRead .documents.ssh_servers | fromToml) "mini" }}
{{-   if $mini }}
alias vnc="open vnc://{{ get $mini "hostname" }}"
alias tvnc='open vnc://{{ get $mini "tailscale_ip" }}'
{{-   end }}
{{- end }}
{{- end }}

{{- if and (.homelab_member) (not (.personal_computer)) -}}

{{- if "/mnt/pi-cluster" | lstat }}
alias cluster="cd /mnt/pi-cluster/"
alias localfs="cd /mnt/usbDrive/"
alias backups="cd /mnt/pi-cluster/service-data-backups"
alias media="cd /mnt/media"
alias mine="cd /mnt/nate"
{{- if lookPath "lnav" }}
alias blogs='lnav /mnt/pi-cluster/logs'
{{- end }}
{{- else if "/System/Volumes/Data/mnt/pi-cluster" | lstat }}
alias cluster="cd /System/Volumes/Data/mnt/pi-cluster"
alias localfs='cd ${HOME}/Library/docker'
alias backups="cd /System/Volumes/Data/mnt/pi-cluster/service-data-backups"
alias media="cd /System/Volumes/Data/mnt/media"
alias mine="cd /System/Volumes/Data/mnt/nate"
{{- if lookPath "lnav" }}
alias blogs="lnav /System/Volumes/Data/mnt/pi-cluster/logs"
{{- end }}
{{- end }}

{{- end }}
