{{- if lookPath "autopull" }}
alias pr="autopull"
{{- end }}

# Local navigational Shortcuts
{{- if .dev_computer }}
alias homelab='cd ${HOME}/homelab'
{{ end }}

{{- if .personal_computer -}}
alias work='cd ${HOME}/work-docs'
alias personal='cd ${HOME}/personal-files'
{{- end }}

alias repos='cd ${HOME}/repos'

{{ if .use_secrets -}}
# SSH Shortcuts
{{ range .remote_servers -}}
{{- if not (lookPath .name) }}
alias {{ .name }}="ssh {{ .name }}"
{{- if .tailscale_ip }}
alias t{{ .name }}="ssh t{{ .name }}"
{{- end }}
{{- end }}
{{- end }}
{{- end }}
