# Configuration for Ghostty
# https://ghostty.org/docs/config/reference

# THEME SETTINGS
theme = nord
bold-is-bright = true
cursor-style = block

# FONT SETTINGS
font-size = 15
font-family = MesloLGMDZ Nerd Font Mono
font-thicken = true
font-feature = +liga
adjust-cell-width = -3%
adjust-cell-height = -5%

# WINDOW SETTINGS
window-height = 55
window-width = 150
window-padding-x = 12
window-padding-y = 10
window-padding-balance = false
window-padding-color = extend
window-inherit-working-directory = false

# CLIPBOARD INTEGRATIONS
clipboard-read = allow
clipboard-write = allow
clipboard-trim-trailing-spaces = true
clipboard-paste-protection = false

# SPLITS
unfocused-split-opacity = 0.5

# QUICK TERMINAL
quick-terminal-position = top
quick-terminal-screen = main

# OTHER
cursor-click-to-move = true
confirm-close-surface = false
link-url = true
macos-titlebar-style = tabs


# SHELL INTEGRATION
shell-integration-features = true


# ### KEYBINDINGS ####
# ####################
keybind = global:opt+`=toggle_quick_terminal

# WINDOW SPLITS
keybind = ctrl+\=new_split:right
keybind = ctrl+-=new_split:down
keybind = ctrl+z=toggle_split_zoom
keybind = ctrl+e=equalize_splits
keybind = ctrl+h=goto_split:left
keybind = ctrl+j=goto_split:bottom
keybind = ctrl+k=goto_split:top
keybind = ctrl+l=goto_split:right
keybind = super+shift+enter=new_split:auto
