{{- if and (.use_secrets) (or (.personal_computer) (.homelab_member)) -}}
sabnzbd_api_key = "{{ onepasswordRead .secrets.sabnzbd_api_key }}"
sabnzbd_url     = "{{ onepasswordRead .secrets.sabnzbd_url }}"
{{ end -}}
